body {
    margin: 0;
}

main {
    top    : 0;
    width  : 100%;
    display: grid;
    height : 100%;
    left   : 0;
}


.view-wrapper {
    min-height: 100vh;
    width     : -webkit-fill-available;
}

.view-section {
    box-sizing: border-box;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100vh;
}