body {
    margin: 0;
}

main {
    top     : 0;
    width   : 100%;
    display : grid;
    height  : 100%;
    left    : 0;
    position: fixed;
}


.view-section {
    width : -webkit-fill-available;
    height: 100%;
}