<section class="view-section" id="story-activity-view" :class="course.skin">
    <header v-if="header"><span data-icon="tiny-back" @click="viewBack"></span>
        <template v-if="activity.type === 'map'">
            Mapa Ciudades
        </template>
        <template v-else>
            {{ title }}
        </template>

    </header>
    <div class="welcome" v-if="!header || welcome">
        <div class="title-type" :class="activity.type">
            <template v-if="activity.type === 'card'">
                Carta del héroe
                <img src="modules/story/images/arabesco-gold.svg" alt="">
            </template>
            <template v-else-if="activity.type === 'map'">
                Bienvenido a
                <img :src="cover" alt="">
            </template>
        </div>

        <div class="content">
            <div class="title">
                {{activity.activity.name}}
            </div>

            <div class="alert">
                Competencia a evaluar
                <br>
                <strong> Orientación al logro</strong>
            </div>
        </div>

        <button class="action primary button-down" @click="doDown">v</button>
    </div>
    <div class="activity" :class="{ 'scroll-padding' : scroll}">
        <div class="title" v-if="header || !welcome">{{activity.activity.name}}</div>
        <component :is="typeComponent" :activity="activity.activity" :course="course">
            <div class="finish-activity" v-if="activity.completed !== 'completed'">
                <img class="arabesco-top" src="modules/story/images/arabesco-blue-half.svg" alt="">
                <img class="arabesco-down" src="modules/story/images/arabesco-blue-half.svg" alt="">
                <h1> ¡Muy bien!</h1>
                <div class="image-center"></div>

                <div class="bottom-finish">
                    <strong> Has completado esta entrega,</strong> toca el botón y prepárate para la próxima lectura

                    <button class="action primary completed" @click="completedActivity">
                        Marcar como completado
                    </button>

                </div>


            </div>
        </component>
    </div>

    <div class="panel" style="display: none;">
        <div class="options" v-show="optionsPanel">
            <div v-if="type !== 'audio'" @click="type = 'audio';optionsPanel= !optionsPanel"><img
                    src="modules/story/images/audio.svg" alt=""></div>
            <div v-if="type !== 'video'" @click="type = 'video';optionsPanel= !optionsPanel"><img
                    src="modules/story/images/video.svg" alt=""></div>
            <div v-if="type !== 'reading'" @click="type = 'reading';optionsPanel= !optionsPanel">Lect</div>
        </div>
        <div class="control" @click="optionsPanel= !optionsPanel"> {{ optionsPanel ? '<' : '>' }} </div>
        </div>
        <div class="scroll-activities" :style="{'--show-activities':maxShow }" v-if="scroll">
            <div class="back">
                <span v-if="startShow != 0" @click="previousSlider">
                    < </span>
            </div>
            <div class="items">
                <div class="item" v-for="item in itemsShow" @click="changeActivity(item.position)">
                    <img :src="item.img" alt="">
                    {{ item.name}}
                </div>
            </div>
            <div class="next">
                <span v-if="(maxShow + startShow) < activityScrolls.length" @click="nextSlider">
                    >
                </span>
            </div>

        </div>


</section>