#view-story-finish {
    background-color: @bg-color;
    padding: 20px;
    color: #fff;
    text-align: center;

    .name-project {
        font-size: 2em;
        width: 200px;
        margin: auto;
        color: @main-color;
    }

    .arabesco{
        width: 200px;
        margin: 20px auto;

    }
}