<section class="view-section" id="story-home-view" :class="course.skin">
    <header><span data-icon="tiny-back" @click="$router.replace({ name: 'story:welcome' })"></span>{{ course.name }}
    </header>

    <div class="general">

        <div class="info" @click="$router.replace({name : 'story:profile'})">
            <div class="advances">
                <div class="circle"><span class="circle-text">{{course.advanceChapters()}}</span></div>
                <span>Capítulos</span>
            </div>
            <div class="avatar">
                <img src="modules/story/images/navegante.png" alt="">
            </div>

            <span class="name">{{ $root.user.name }}</span>

            <span class="role" v-if="course.activeRol">Eres {{ course.getRole() }}</span>
            <span class="city" v-if="course.activeCity">Perteneces a {{ course.getLocation() }}</span>
        </div>

        <div class="complement">
            <div class="items">
                <section class="position" v-if="course.activeMap">
                    <div class="icons">
                        <img src="modules/story/images/city.svg" alt="">
                    </div>
                    Ciudades
                </section>
                <section class="tools" v-if="course.activeTools">
                    <div class="icons">
                        <img src="modules/story/images/tools-1.svg" alt="">
                        <img src="modules/story/images/tools-2.svg" alt="">
                        <img src="modules/story/images/tools-3.svg" alt="">
                    </div>
                    Herramientas
                </section>
            </div>

            <img src="modules/story/images/icono-pez.png" alt="">
        </div>
    </div>
    <div class="chapters" :style="{'--show-chapter':maxShow , '--width-chapter':widthChapter}">
        <div class="back">
            <span v-if="startShow != 0" @click="previousSlider">
                < </span>
        </div>
        <div class="slide-chapters">
            <div v-for="c,index in chaptersShow" class="chapter" @click="openActivity(c)">
                <div class="tittle">
                    {{c.title}}
                </div>
                <section class="content">
                    <div class="slide-advance">
                        <div class="progress-chapter" :style="{'--width-advance': advancePercent(c)+'%' }">
                            <div class="text-advance">
                                {{advanceCompleted(c)}}
                            </div>
                        </div>
                    </div>
                    <div class="summary">{{c.name}}</div>
                </section>
            </div>
        </div>
        <div class="next">
            <span v-if="(maxShow + startShow) < chapters.length" @click="nextSlider">
                >
            </span>
        </div>
    </div>
    <div class="activities">
        <div class="header"> Tus actividades</div>
        <section>
            <div class="tabs">
                <ul>
                    <li :class="{'active': filterActivities === 'progress' }" @click="filterActivities = 'progress' ">En
                        curso</li>
                    <li :class="{'active': filterActivities === 'completed' }" @click="filterActivities = 'completed' ">
                        Completadas</li>
                </ul>
            </div>
            <div class="activities">
                <div class="activity progress" v-if="filterActivities === 'progress'">
                    <img src="modules/story/images/icon-lectura.png" alt="">
                    <div class="title">Lee el capitulo {{activityPending[0].chapter}}</div>
                    <div class="content">{{activityPending[0].activity.name}}</div>
                    <div class="date">Enviado {{dateAgo(activityPending[0])}}</div>
                </div>

                <div class="activity completed" v-if="filterActivities === 'completed'">
                    <img src="modules/story/images/icon-lectura.png" alt="">
                    <div class="title">Lee el capitulo {{activityPending[0].chapter}}</div>
                    <div class="content">{{activityCompleted[0].activity.name}}</div>
                    <div class="date">Enviado {{dateAgo(activityCompleted[0])}}</div>
                </div>

            </div>
        </section>
    </div>

    <alert v-if="modal" @close="modal = false" :course="course" />

    <finish-modal v-if="finished" @close="finished = false" />
</section>