#story-home-view {

    &.mision {
        color: @mision-color;
        --background: url('images/mision/textura.jpg') 50% 50%/cover no-repeat;
        background-color: rgba(149, 191, 203, .3);

        .general {
            .info {

                .role,
                .city {
                    color: #fff
                }
            }
        }


        .chapters {
            .slide-chapters {
                .chapter {
                    .content {
                        .slide-advance {
                            .progress-chapter {
                                color: #fff;
                                background-color: @mision-color;

                                .text-advance {
                                    background: @mision-color;
                                }
                            }
                        }
                    }
                }
            }
        }


        .activities {
            section {
                background: linear-gradient(0deg, rgba(149, 191, 203, .1) 60%, rgba(194, 194, 194, 1) 100%);

                .tabs {
                    ul {
                        border: 1px solid @mision-color;

                        li {
                            &.active {
                                background-color: @mision-color;
                            }
                        }
                    }
                }

                .activity {
                    background-color: #fff;
                    text-align: initial;

                    .title,
                    .date {
                        color: @mision-color;
                    }

                    .content {
                        color: initial;
                    }
                }
            }
        }

    }

    &.dorado {
        color: @bg-color;
        --background: url('images/dorado/textura.jpg') 50% 50%/cover no-repeat;

        .general {
            .info {

                .role,
                .city {
                    color: @main-color
                }
            }
        }

        .activities {
            section {
                background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(194, 194, 194, 1) 100%);

                .tabs {
                    ul {
                        border: 1px solid @bg-color;

                        li {
                            &.active {
                                background-color: @bg-color;
                            }
                        }
                    }
                }

                .activity {
                    background-color: @bg-color;

                    .title,
                    .date {
                        color: @main-color;
                    }

                    .content {
                        color: #fff;
                    }
                }

            }
        }
    }


    >header {
        background: var(--background);
    }

    .general {
        background: var(--background);
        padding: 20px 20px 50px;
        border-radius: 0 0 50px 50px;
        display: grid;
        grid-template-columns: auto 1fr;
        color: white;

        .info {

            justify-self: center;

            >span {
                display: block;
                margin: 5px 0;
            }


            .advances {
                position: relative;
                height: 4em;
                font-size: 0.8em;
                display: -webkit-inline-box;


                .circle {
                    color: @good-color;
                    padding: 2px;
                    width: 2.5em;
                    height: 2.5em;
                    border-radius: 50%;
                    border: @good-color solid 1px;
                    line-height: 0;
                    position: relative;
                    display: inline-block;
                    margin-right: 5px;
                }

                span {
                    position: absolute;
                    bottom: 50%;
                    width: inherit;
                    text-align: center;
                }
            }

            .avatar {
                width: 80%;
                position: relative;

                img {
                    width: 100%;
                    max-width: 130px;
                }
            }

            .name {
                margin-top: 10px;
                font-size: 1.3em;
            }
        }


        .complement {
            position: relative;

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 0.8em;

                .icons {
                    height: 30px;

                    img {
                        position: inherit;
                        height: 20px;
                        margin-left: 5px;
                    }
                }

                .position {
                    text-align: center;
                }

                .tools {
                    text-align: center;
                }

            }


            img {
                position: absolute;
                bottom: 0;
                height: 150px;
                right: -20px;
            }
        }
    }

    .chapters {
        --height-chapters: 150px;
        --padding-chapter: 15px;

        height: var(--height-chapters);
        display: grid;
        grid-template-columns: 20px auto 20px;
        column-gap: 20px;
        margin-top: -50px;
        margin-bottom: 50px;

        .back,
        .next {
            width: 20px;
            height: var(--height-chapters);
            padding: var(--padding-chapter) 0;
            line-height: var(--height-chapters);
            text-align: center;
        }

        .slide-chapters {

            display: grid;
            grid-template-columns: repeat(var(--show-chapter), 1fr);
            column-gap: 20px;
            place-content: space-around;
            place-items: center;

            .chapter {
                background: #fff;
                max-width: 300px;
                width: -webkit-fill-available;
                min-height: 100%;
                border-radius: 25px;
                box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.44);



                .tittle {
                    padding: var(--padding-chapter);
                    font-weight: bold;
                }

                .content {
                    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(194, 194, 194, 1) 100%);
                    border-radius: 0 0 25px 25px;
                    padding: var(--padding-chapter);

                    .slide-advance {
                        background-color: @good-color;
                        border-radius: 1em;
                        margin: 0 5px 10px;

                        .progress-chapter {
                            font-size: 0.7em;
                            color: @good-color;
                            background-color: @bg-color;
                            height: 1.2em;
                            line-height: 1.2em;
                            text-align: right;
                            padding: 0.4em 0.5em;
                            border-radius: 1em;
                            width: var(--width-advance);
                            position: relative;


                            .text-advance {
                                position: absolute;
                                right: 0;
                                background: @bg-color;
                                height: 1.2em;
                                width: 1.2em;
                                border-radius: 50%;
                                padding: 0.7em;
                                margin: -0.7em -0.4em;
                                box-shadow: 0px 0px 2px 1px black;
                            }

                        }


                    }

                    .summary {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    .activities {

        .header {
            padding: 15px;
            text-align: center;
            position: relative;
            font-size: 1.2em;
            font-weight: bold;
        }

        section {
            padding: 20px;
            text-align: -webkit-center;


            .tabs,
            .activities {
                max-width: 400px
            }

            .tabs {
                margin-bottom: 20px;

                ul {
                    display: flex;
                    padding-left: 0;
                    margin-bottom: 0;

                    border-radius: 1em;
                    width: fit-content;

                    li {
                        min-width: 125px;
                        font-weight: bold;
                        font-size: 1em;
                        text-align: center;
                        padding: 0.5em;
                        border-radius: 1em;
                        margin: -1px;

                        &.active {
                            color: #fff;
                        }
                    }
                }
            }

            .activity {
                border-radius: 50px;
                min-width: 170px;
                height: 4em;
                position: relative;
                margin-left: 30px;
                padding: 10px 0 10px 80px;
                display: inline-grid;

                img {
                    position: absolute;
                    left: -30px;
                    top: 0;
                }

                .content,
                .date {
                    font-size: 0.8em;
                }
            }
        }
    }
}