#home-welcome-view {
    background: url('../../res/images/bg_sky.svg') 50% 50%/cover no-repeat;
    position        : absolute;
    padding         : 35px;
    text-align      : -webkit-center;

    .header {
        padding   : 20px;
        text-align: center;

        img {
            max-width: 150px;
        }
    }

    .img-project {
        padding  : 20px 0px;
        max-width: 300px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }


    .done {
        font-size : 1.5rem;
        text-align: left;
        border    : 0;
        position  : relative;
        max-width : 200px;

        &::after {
            right       : 0;
            height      : -webkit-fill-available;
            position    : absolute;
            margin-right: 20px;
        }
    }

    .back{
        margin: 20px 0;
    }
}