<section class="view-section" id="home-index-view">
	<div class="header">
		<img src="res/images/logo_uceipa_white.svg" alt="">
	</div>
	<div class="slide-cards">
		<p>
			¿Cúal storytelling quieres elegir?
		</p>
		<div class="cards" v-for="(project,index) in projects" @touchstart="handlePointerUp"
			@touchmove="handlePointerMove" @touchend="handlePointerDown">
			<template v-if="currentIndex === index">
				<- {{ project.name }} <br>

					<div class="card">
						<div class="shadow-card">
							<section v-if="index !== 0">
								{{ projects[index -1].course }}
							</section>
						</div>
						<div class="current-card">
							{{ project }}
						</div>
						<transition>
							<div class="current-card dummy-card" v-if="dragProject">{{ dragProject }}</div>
						</transition>
						<div class="shadow-card">
							<section v-if="index !== projects.length - 1">
								{{ projects[index + 1].course }}
							</section>
						</div>
					</div>

			</template>

		</div>

	</div>

</section>