<section class="view-section" id="home-index-view"
	:class="this._lastDelta ? (this._lastDelta < 0 ? 'prev-project' : 'next-project') : null"
	:style="{'--drag-x': dragX}">
	<div class="header">
		<img src="res/images/logo_uceipa_white.svg" alt="">
	</div>
	<div class="slide-cards">
		<p>
			¿Cúal storytelling quieres elegir?
		</p>
		<div class="cards" v-for="(project,index) in projects" @touchstart="handlePointerDown"
			@touchmove="handlePointerMove" @touchend="handlePointerUp">
			<template v-if="currentIndex === index">
				<span class="title-project" data-icon="back">
					{{ project.name }}
				</span>

				<div class="card">
					<div class="shadow-card" v-if="!this._lastDelta">
						<section v-if="index !== 0 "
							:style="{'--prev-image': projects[index -1].image.length?'url('+projects[index -1].image[0].url+')':defaultImage}">
						</section>
					</div>
					<div class="current-card" @click="goCourse"
						:style="{'--current-image': project.image.length?'url('+project.image[0].url+')':defaultImage}">
						<p>
							{{ !project.image.length ? project.name : '' }}
						</p>
					</div>
					<transition>
						<div class="dummy-card" v-if="dragProject || dragProject === 0"
							:style="{'--dummy-image': projects[dragProject].image.length?'url('+projects[dragProject].image[0].url+')':defaultImage}">
							<p>
								{{ !projects[dragProject].image.length ? projects[dragProject].name : '' }}
							</p>
						</div>
					</transition>
					<div class="shadow-card" v-if="!this._lastDelta">
						<section v-if="index !== projects.length - 1 "
							:style="{'--next-image': projects[index +1].image.length?'url('+projects[index +1].image[0].url+')':defaultImage}">
						</section>
					</div>

				</div>
			</template>
		</div>
		</transition-group>

</section>