<section class="view-section" id="edit-account">
    <div class="header">
        <img src="res/images/logo_uceipa_white.svg" alt="">
    </div>

    <ui-form :model="user" submit-label="Actualizar datos" :action="`students/${user.id}`" @success="success">
        <template #header>
            <h3>{{ username }} estos son tus datos</h3>
        </template>
        <ui-input type="text" label="Nombre Completo" v-model="user.name" required>
            <template #validation>
                Ingresa tu nombre completo
            </template>
        </ui-input>
        <ui-input type="select" label="Identificación" v-model="user.documentType" :selectOptions="options" required>
            <template #validation>
                Selecciona un tipo de identificación
            </template>
        </ui-input>
        <ui-input type="text" label="Número de identificación" v-model="user.document" required>
            <template #validation>
                Ingresa un número de identificación valido
            </template>
        </ui-input>
        <ui-input type="date" label="Fecha de nacimiento" v-model="user.birthday" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
            <template #validation>
                Ingresa una fecha valida
            </template>
        </ui-input>
        <ui-input type="checkbox" label="Acepto términos y condiciones" required>
            <template #validation>
                Campo obligatorio
            </template>
        </ui-input>
    </ui-form>
</section>