<transition>
    <ui-modal @close="remove" class="alert-modal chapter-completed" v-if="typeAlert === 'chapterCompleted'">
        <template #title>
            <img src="modules/story/images/alert-great.png" alt="">
        </template>
        <h1>¡Fabuloso!</h1>
        <div class="bottom-alert">
            <div> Has completado este capitulo, <br>prepárate para las próximas entregas</div>
            <button class="done action primary" data-icon-after="arrow-right" @click="remove">Continuar</button>
        </div>
    </ui-modal>
</transition>

<transition>
    <ui-modal @close="remove" class="alert-modal tools-modal" v-if="typeAlert === 'tools'">
        <template #title>
            <img :src="course.selectedTool.rubric[0]?.media ?? 'modules/story/images/welcome.png'" alt="">
        </template>
        <h1>{{course.selectedTool.rubric[0]?.name ?? ''}}</h1>
        <div>Competencia: {{course.selectedTool.name}} <br>
            Puntaje: {{course.selectedTool.evaluation.value}}</div>
        <div class="line"></div>
        <div>{{course.selectedTool.rubric[0]?.description ?? ''}}</div>

    </ui-modal>
</transition>

<transition>
    <ui-modal @close="remove" class="alert-modal chapter-completed" v-if="typeAlert === 'startQuestions'">
        <template #title>
            <img src="modules/story/images/alert-great.png" alt="">
        </template>
        <h1>¡Fabuloso!</h1>
        <div class="bottom-alert">
            <div> Es momento de autoevaluarte</div>
            <button class="done action primary" data-icon-after="arrow-right" @click="remove">Continuar</button>
        </div>
    </ui-modal>
</transition>

<transition>
    <div id="tour" v-if="typeAlert === 'showRol'">
        <ui-modal @close="removeTourRol">
            <template #title>
                <img src="modules/story/images/arabesco-gold-half.svg" alt="">
            </template>
            <h1>Eres {{course.getRole()}}</h1>
            <img src="modules/story/images/arabesco-gold.svg" alt="">
            <h1>¡Felicidades!</h1>
            <div> Según tus competencias este es tu gremio</div>
            <footer>
                <button class="done action primary" data-icon-after="arrow-right"
                    @click="removeTourRol">Continuar</button>
            </footer>

        </ui-modal>
    </div>
</transition>


<transition>
    <div id="tour" v-if="typeAlert === 'showTools'">
        <ui-modal @close="removeTourTools">
            <h1>Genial ¡Ya tienes Herramientas!</h1>
            <img src="modules/story/images/arabesco-gold.svg" alt="">
            <div> Acorde a tus competencias estas son tus herramientas</div>
            <footer>
                <button class="done action primary" data-icon-after="arrow-right" @click="removeTourTools">Ver
                    perfil</button>
            </footer>

        </ui-modal>
    </div>
</transition>

<transition>
    <div id="tour" v-if="typeAlert === 'showCities'">
        <ui-modal @close="removeTourMaps">
            <h1>Nuevas Tierras</h1>
            <img src="modules/story/images/arabesco-gold.svg" alt="">
            <div>Desde aquí puedes entrar al mapa de las ciudades <strong>La conquista del Dorado</strong></div>
            <footer>
                <button class="done action primary" data-icon-after="arrow-right" @click="removeTourMaps">Explorar
                    Mapa</button>
            </footer>
        </ui-modal>
    </div>
</transition>

<transition>
    <ui-modal @close="removeWelcome" class="start-course" v-if="typeAlert === 'startCourse'">
        <template #title>
            <img src="modules/story/images/welcome.png" alt="">
        </template>
        <h1>Bienvenid{{ $root.user.gender === 'm'?'o':'a' }} {{$root.user.name.split(" ")[0]}}</h1>
        <div class="bottom-alert">
            <div>Aquí encontrarás todas las actividades que hemos preparado para ti</div>
        </div>
    </ui-modal>
</transition>

<transition>
    <ui-modal @close="remove" class="new-city" v-if="typeAlert === 'newCity'">
        <template #title>
            <img src="modules/story/images/arabesco-gold-half.svg" alt="">
        </template>
        <h1>¡Muy bien!</h1>
        <div>Haz explorado todas las ciudades </div>
        <img src="modules/story/images/arabesco-gold.svg" alt="">
        <div class="bottom-alert">
            Ahora visita <br>
            El Dorado

            <img src="modules/story/images/dorado/dorado-alert.png" alt="">
        </div>
    </ui-modal>
</transition>

<transition>
    <div class="tiny-alert" v-if="typeAlert === 'tiny'">
        <div class="msg">
            Sabias de que de cada 10 persona en el mundo
        </div>
    </div>
</transition>

<transition>
    <ui-modal @close="removeFinish" class="finish" v-if="typeAlert === 'finishCourse'">
        <template #title>
            
            <img src="modules/story/images/conquistador.png" alt="">
            <div class="text-header">Eres un conquistador</div>
        </template>
        <div class="center-img">
            <img src="modules/story/images/arabesco-gold.svg" alt="">
        </div>

        <div>Has completado todas las actividades. <br> 
            % Texto de invitación de backoffice %
            {{ course.invitation }}
        </div>
        <div> conoce tu progreso durante todas las actividades y autoevaluaciones</div>
        <footer>
            <button class="done action primary" data-icon-after="arrow-right" @click="removeFinish">Ver mi progreso</button>
        </footer>

    </ui-modal>
</transition>

<transition>
    <ui-modal @close="removeContinue" class="continue-travel" v-if="typeAlert === 'continueTravel'">
        <template #title>
            <img src="modules/story/images/arabesco-gold-half.svg" alt="" class="arabezco">
            <img src="modules/story/images/dorado/dorado-alert.png" alt="">
        </template>
        <h1>Continúa este viaje en </h1>
        
        <button class="done action primary" @click="removeContinue"> www.ceipa.edu.co</button>

    </ui-modal>
</transition>

<transition>
        <ui-modal @close="remove" class="hero-letter" v-if="typeAlert === 'hero-letter'">
            <template #title>
                <img src="modules/story/images/arabesco-gold-half.svg" alt="" class="arabezco">
            </template>
            <h1>Tus fortalezas te han ayudado a avanzar en esta travesia</h1>
            <img src="modules/story/images/arabesco-gold.svg" alt="">
            <div>Con la carta del Héroe fortalecerás tus habilidades para continuar con tu progreso <br>
                Ponte a prueba y sé más efectivo
            </div>
            <footer>
                <button class="done action primary" data-icon-after="arrow-right"
                    @click="remove">Continuar</button>
            </footer>
        </ui-modal>
</transition>

<transition>
    <ui-modal @close="removeEvaluation" class="alert-modal chapter-completed" v-if="typeAlert === 'finish-evaluation'">
        <template #title>
            <img src="modules/story/images/alert-great.png" alt="">
        </template>
        <h1>Genial</h1>
        <div class="bottom-alert">
            <div> Haz completado la autoevaluación sigue explorando el mapa</div>
            <button class="done action primary" data-icon-after="arrow-right" @click="removeEvaluation">Volver al mapa</button>
        </div>
    </ui-modal>
</transition>