<ui-modal title="" @close="$emit('close')" id="finish">
    <template #title>
        <img src="modules/story/images/conquistador.png" alt="">
        <div class="text-header">Eres un conquistador</div>
    </template>
    <div class="center-img">
        <img src="modules/story/images/arabesco-gold.svg" alt="">
    </div>

    <div>Has completado todas las actividades. Te invitamos el próximo {xx de xx en xxxxxxxx a las xx:xx xx} para
        realizar el cierre.</div>
    <div> conoce tu progreso durante todas las actividades y autoevaluaciones</div>
    <footer>
        <button class="done action primary" data-icon-after="arrow-right">ver mi progreso</button>
    </footer>

</ui-modal>