<div id="tour">
    <ui-modal title="test" @close="removeTour">
        <template #title>
            <img src="modules/story/images/arabesco-gold-half.svg" alt="">
        </template>
        <h1>Nuevas tierras</h1>
        <img src="modules/story/images/arabesco-gold.svg" alt="">
        <div> Desde aquí puedes entrar al mapa de las ciudades La conquista del Dorado</div>
        <footer>
            <button class="done action primary" data-icon-after="arrow-right">Explorar mapa</button>
        </footer>

    </ui-modal>
</div>